<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
  </head>
  <body>
    <p>Here's some stuff</p>
    <span>This one is tagged
    <img src="/tumblr_mu5nuwmOMB1sk4zhuo1_500.jpg" alt="pawel in pants"/>
	</span>
    <span>This one is NOT tagged (even though it looks like the same image)
		<img src="/not_tagged.jpg" alt="not tagged"/>
    </span>
  </body>
</html>